Task 1: Create a pandas dataframe (dataframe name as 'df') with numpy random values (4 features and 4 observations)

In [6]:
import pandas as pd
import numpy as np

In [7]:
s1=pd.Series(np.random.rand(4))
s2=pd.Series(np.random.rand(4))
s3=pd.Series(np.random.rand(4))
s4=pd.Series(np.random.rand(4))

In [8]:
df=pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.829651  0.390684  0.193766  0.250412
1  0.414946  0.758223  0.790326  0.401774
2  0.081102  0.119864  0.788257  0.145255
3  0.373447  0.994850  0.269533  0.644137

Task 2: Rename the task-1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' and 'Random value 4'.

In [9]:
df.columns=['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.829651        0.390684        0.193766        0.250412
1        0.414946        0.758223        0.790326        0.401774
2        0.081102        0.119864        0.788257        0.145255
3        0.373447        0.994850        0.269533        0.644137

Task 3: Find the descriptive statistics of the 'df' dataframe

In [10]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.424786        0.565905        0.510470        0.360395
std          0.308095        0.387572        0.323438        0.216490
min          0.081102        0.119864        0.193766        0.145255
25%          0.300361        0.322979        0.250591        0.224123
50%          0.394196        0.574453        0.528895        0.326093
75%          0.518622        0.817380        0.788774        0.462365
max          0.829651        0.994850        0.790326        0.644137

Task 4: Check for the null values in 'df' and find the data type of the columns

In [11]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [12]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

Task 5: Display the 'Random value 2' and 'Random value 3' columns with location method and index location method

In [15]:
#Column 2
loc = df.loc[:, 'Random value 2']
idx = df.iloc[:, 1]

print("\nRandom value 2 (Location method):\n", loc)
print("\nRandom value 2 (Index location method):\n", idx)

Random value 2 (Location method):
 0    0.390684
1    0.758223
2    0.119864
3    0.994850
Name: Random value 2, dtype: float64

Random value 2 (Index location method):
 0    0.390684
1    0.758223
2    0.119864
3    0.994850
Name: Random value 2, dtype: float64

In [16]:
#Column 3
loc = df.loc[:, 'Random value 3']
idx = df.iloc[:, 2]

print("\nRandom value 3 (Location method):\n", loc)
print("\nRandom value 3 (Index location method):\n", idx)

Random value 3 (Location method):
 0    0.193766
1    0.790326
2    0.788257
3    0.269533
Name: Random value 3, dtype: float64

Random value 3 (Index location method):
 0    0.193766
1    0.790326
2    0.788257
3    0.269533
Name: Random value 3, dtype: float64